FQDN="ourhost.ourdomain.com"
EMAIL="admin@ourdomain.com"
NGINX="latest"
CERTBOT="latest"
OUTPUT="both"
FWD_PORT="8080"
LISTEN_PORT="443"
# Output type (shell / compose / both )
UPSTREAM="<upstream host or IP>"
